body {
    background-color: #1d311f;
    background-image: url(images/cremation.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.container {
    margin-left: auto;
    margin-right: auto;
    width: 1240px;
}
header {
    height: 118px;
    text-align: center;
    padding-top: 30px;
    
}
nav {
    background-color: rgba(0, 0, 0, 0.219);
    text-align: center;
    padding-top: 14px;
    padding-bottom: 14px;
    font-size: 20px;
}
main {
    /* background-color: orange; */
    height: 400px;
    text-align: center;
    padding-top: 50px;
    padding-right: 240px;
    padding-left: 240px;
}

h1 {
    font-size: 70px;
    color: white;
    /* text-align: center; */
    font-family: 'comic sans','Times New Roman', Times, serif;
}

p {
    font-size: 20px;
    color: white;
    font-family: 'comic sans','Times New Roman', Times, serif;

}
a {
    color: white;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: whitesmoke;
    text-underline-position: below;
    
}
nav a {
    text-decoration: none;
    font-size: 16px;
    padding-right: 10px;
    padding-left: 10px;
}
footer {
    background-color: rgba(0, 0, 0, 0.411);
    font-size: 8px;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.lower {
    padding-bottom: 20px;
    font-size: 30px;
    color: white;
    text-align: center;
    font-family: 'comic sans','Times New Roman', Times, serif;
}
h6 {
    font-size: 30px;
    padding-bottom: 10px;
    color: rgb(0, 0, 0);
}
.fix {
    color: black;
}